body {
  font-family: 'Open Sans', sans-serif;
  color: #1D1D1D;
}

label {
  font-weight: bold;
}

#header {
  text-align: center;
  margin: 2em 0 5em;
}

#header .logo {
  width: 175px;
}

#header h1 {
  font-size: 1.75em;
  font-weight: 300;
  color: #7B7B7B;
}

.client-name {
  float: right;
  font: lighter 0.8em 'Open Sans', sans-serif;
  text-transform: uppercase;
}

#home {
  padding: 3em 3em 5em;
}

#footer {
  text-align: center;
  margin: 2em 0;
}

.form-check-label {
  font-weight: initial;
}

.tooltip-icon {
  width: 1em;
  margin-left: .5em;
  margin-bottom: .25em;
}

.form-text {
  text-align: right;
}

#tilePreview .content-wrapper {
  padding: 1em 2em 3em;
}

.preview-header {
  padding: 1em 2em;
}

.preview-header h3 {
  font-weight: 400;
  margin-bottom: 0;
}

.image-wrapper img {
  width: 100%;
}

.choose-image .form-group {
  display: inline-block;
  vertical-align: top;
}

.size-dropdown{
  width: 50%;
}

/* Hidden - Style for Addtional Resources which is hidden
#confirmChallengeDetails ul {
  color: #7b7b7b;
  padding-left: 2em;
  list-style-image: url('../images/document-text.svg');
}
*/

#spinner {
  display: none;
  width: 2em;
}

#featuredActivityCheck {
  padding-left: 0;
}

#featuredActivityYes {
  opacity: 0;
}

#featuredActivityYes + label > span:first-child {
  background: url('../images/star-inactive.svg') no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}

#featuredActivityYes:checked + label > span:first-child {
  background: url('../images/star.png') no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}

label[for="subgroupIdNumber"] {
  display: inline-block;
}

#subgroupIdNumber {
  display: inline-block;
  width: 60px;
  margin-left: 1em;
}

.text-caption-list{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* Boostrap Classes */
.tooltip-inner {
  min-width: 25em;
  height: auto;
  text-align: left;
  font-size: 0.9em;
  background-color: #606060;
}

/* Legacy Classes */
.brandingBckgrndColor {
  background-color: #606060;
}
